<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Payment</title>
</head>
<body>
<h1>Edit Payment</h1>

<form th:action="@{/update-payment}" th:object="${payment}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label>Method:</label>
    <input type="text" th:field="*{method}" required/><br><br>

    <label>Amount:</label>
    <input type="number" th:field="*{amount}" step="0.01" required/><br><br>

    <label>Status:</label>
    <input type="text" th:field="*{status}" required/><br><br>

    <button type="submit">Update</button>
</form>

<a href="/payment-home">Back</a>
</body>
</html>
